*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  position: relative;
  height: 100%;
}

body {
  background: #fff;
  color: #4b5d73;
  font-family: "Nunito", Arial, "Helvetica Neue", Helvetica, serif, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.02em;
}

img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}

blockquote {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}

blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 20px;
}

table {
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

caption {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #777;
  text-align: left;
}

th {
  text-align: left;
}

table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  border: 1px solid #ddd;
}

table>thead>tr>th, table>tbody>tr>th, table>tfoot>tr>th, table>thead>tr>td, table>tbody>tr>td, table>tfoot>tr>td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

table, th, td {
  border: 1px solid #ddd;
}

table>thead>tr>th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}

table>caption+thead>tr:first-child>th, table>colgroup+thead>tr:first-child>th, table>thead:first-child>tr:first-child>th, table>caption+thead>tr:first-child>td, table>colgroup+thead>tr:first-child>td, table>thead:first-child>tr:first-child>td {
  border-top: 0;
}

table>tbody+tbody {
  border-top: 2px solid #ddd;
}

table table {
  background-color: #fff;
}

table col[class*="col-"] {
  position: static;
  display: table-column;
  float: none;
}

table td[class*="col-"], table th[class*="col-"] {
  position: static;
  display: table-cell;
  float: none;
}

table>thead>tr>td.active, table>tbody>tr>td.active, table>tfoot>tr>td.active, table>thead>tr>th.active, table>tbody>tr>th.active, table>tfoot>tr>th.active, table>thead>tr.active>td, table>tbody>tr.active>td, table>tfoot>tr.active>td, table>thead>tr.active>th, table>tbody>tr.active>th, table>tfoot>tr.active>th {
  background-color: #f5f5f5;
}

table>thead>tr>td.success, table>tbody>tr>td.success, table>tfoot>tr>td.success, table>thead>tr>th.success, table>tbody>tr>th.success, table>tfoot>tr>th.success, table>thead>tr.success>td, table>tbody>tr.success>td, table>tfoot>tr.success>td, table>thead>tr.success>th, table>tbody>tr.success>th, table>tfoot>tr.success>th {
  background-color: #dff0d8;
}

table>thead>tr>td.info, table>tbody>tr>td.info, table>tfoot>tr>td.info, table>thead>tr>th.info, table>tbody>tr>th.info, table>tfoot>tr>th.info, table>thead>tr.info>td, table>tbody>tr.info>td, table>tfoot>tr.info>td, table>thead>tr.info>th, table>tbody>tr.info>th, table>tfoot>tr.info>th {
  background-color: #d9edf7;
}

table>thead>tr>td.warning, table>tbody>tr>td.warning, table>tfoot>tr>td.warning, table>thead>tr>th.warning, table>tbody>tr>th.warning, table>tfoot>tr>th.warning, table>thead>tr.warning>td, table>tbody>tr.warning>td, table>tfoot>tr.warning>td, table>thead>tr.warning>th, table>tbody>tr.warning>th, table>tfoot>tr.warning>th {
  background-color: #fcf8e3;
}

table>thead>tr>td.danger, table>tbody>tr>td.danger, table>tfoot>tr>td.danger, table>thead>tr>th.danger, table>tbody>tr>th.danger, table>tfoot>tr>th.danger, table>thead>tr.danger>td, table>tbody>tr.danger>td, table>tfoot>tr.danger>td, table>thead>tr.danger>th, table>tbody>tr.danger>th, table>tfoot>tr.danger>th {
  background-color: #f2dede;
}

a {
  text-decoration: none;
  color: #273f5b;
  transition: all 0.15s linear;
}

p {
  font-size: 16px;
}

@media (max-width: 600px) {
  p {
    font-size: 14px;
  }
}

figure {
  margin: 0;
  max-width: 100%;
}

select {
  width: 100%;
  border: 1px solid #4b5d73;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

textarea {
  height: auto;
  min-height: 50px;
}

textarea::-webkit-input-placeholder, input::-webkit-input-placeholder {
  color: #4b5d73;
}

textarea:-moz-placeholder, input:-moz-placeholder {
  color: #4b5d73;
}

textarea:-ms-input-placeholder, input:-ms-input-placeholder {
  color: #4b5d73;
}

input, textarea {
  -moz-box-shadow: none;
  box-shadow: none;
}

input:invalid, textarea:invalid {
  border: 1px solid #ff00004d;
}

input:-moz-submit-invalid, textarea:-moz-submit-invalid {
  box-shadow: none;
}

input.wpcf7-form-control, textarea.wpcf7-form-control {
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list {
  color: #273f5b;
  overflow: hidden;
  margin-left: 30px;
}

.list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list li {
  margin-bottom: 0.35em;
  font-size: 1em;
  overflow: hidden;
  clear: both;
  transition: all .3s ease;
  font-weight: 700;
}

@media (max-width: 640px) {
  .list li {
    font-size: .8em;
  }
}

.list li a, .list li li {
  color: inherit;
  display: block;
  overflow: hidden;
}

.list li i, .list li .weather-bar-icon {
  margin-right: 20px;
  margin-top: 7px;
  font-size: 12px;
  float: left;
  height: 1em;
  width: 1em;
}

.list.with-padding {
  padding-left: 60px;
}

.list--standard i, .list--standard .weather-bar-icon {
  color: #01a23c;
  fill: #01a23c;
}

.list--standard a:hover {
  color: #01a23c;
  fill: #01a23c;
}

.list--breez li i, .list--breez li .weather-bar-icon {
  color: #00ffff;
  fill: #00ffff;
  height: 32px;
  width: 32px;
  margin-top: 0;
}

.list--breez li a {
  color: #00ffff;
}

.list--primary i, .list--primary .weather-bar-icon {
  color: #72a0b8;
  fill: #72a0b8;
}

.list--primary a:hover {
  color: #72a0b8;
  fill: #72a0b8;
}

ol {
  counter-reset: list1;
  padding-left: 20px;
  margin: 0;
}

ol li {
  list-style: none;
  margin-bottom: 18px;
  font-size: 18px;
  transition: all .3s ease;
  position: relative;
  padding-left: 30px;
}

ol li a {
  display: inline-block;
}

ol.list {
  margin-left: 0;
}

ol li:before {
  position: absolute;
  counter-increment: list1;
  content: counter(list1, decimal-leading-zero) " ";
  color: #273f5b;
  display: inline-block;
  left: 0;
}

ol ol {
  counter-reset: list2;
  margin: 10px 0;
  padding-left: 0;
}

ol ol li {
  padding-left: 40px;
}

ol ol li:before {
  counter-increment: list2;
  content: counter(list1) "." counter(list2) ". ";
}

ol ul ol {
  counter-reset: list1;
}

ol ul ol li:before {
  counter-increment: list1;
  content: counter(list1, decimal-leading-zero) " ";
}

blockquote p {
  margin: 0;
}

p {
  margin: 0 0 1.5em 0;
}

table {
  margin: 1.5em 0;
}

ul ul, ol ul, ul ol {
  margin: 10px 0;
  padding-left: 0;
}

ul ol li::before {
  position: absolute;
  counter-increment: list1;
  content: counter(list1, decimal-leading-zero) " ";
  color: #2f2c2c;
  display: inline-block;
  font-size: 18px;
  left: 0;
}

ul ol ul li::before {
  content: "\f0da";
  position: absolute;
  left: 0;
  transition: all .3s ease;
  font-family: "FontAwesome";
  counter-increment: none;
  font-size: 12px;
}

ol ul ol li:before {
  counter-increment: list1;
  content: counter(list1, decimal-leading-zero) " ";
  color: #273f5b;
  display: inline-block;
  position: absolute;
  list-style: none;
  font-size: 18px;
  left: 0;
}

ol ol ol {
  counter-reset: list3;
}

ol ol ol li {
  padding-left: 55px;
}

ol ol ol li::before {
  counter-increment: list3;
  content: counter(list1) "." counter(list1) "." counter(list3) ".";
}

ul ol li {
  padding-left: 30px;
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}

#content[tabindex="-1"]:focus {
  outline: 0;
}

@media (max-width: 640px) {
  ol li {
    font-size: 13px;
    padding-left: 20px;
  }
  ol ol li {
    padding-left: 30px;
  }
  ol ol ol li {
    padding-left: 40px;
  }
}

h1, .h1 {
  font-size: 48px;
  font-weight: 700;
  color: #273f5b;
  font-family: "Nunito", Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin: .5em 0;
  line-height: 1em;
  letter-spacing: 0.02em;
}

h1 a, .h1 a {
  color: inherit;
}

@media (max-width: 800px) {
  h1, .h1 {
    font-size: 2em;
  }
}

@media (max-width: 640px) {
  h1, .h1 {
    font-size: 1.8em;
  }
}

@media (max-width: 480px) {
  h1, .h1 {
    font-size: 1.6em;
  }
}

@media (max-width: 360px) {
  h1, .h1 {
    font-size: 1.5em;
  }
}

h2, .h2 {
  margin: .5em 0;
  font-size: 38px;
  line-height: 1.3em;
  font-weight: 700;
  color: #273f5b;
  font-family: "Nunito", Arial, "Helvetica Neue", Helvetica, sans-serif;
  letter-spacing: 0.02em;
}

h2 a, .h2 a {
  color: inherit;
}

@media (max-width: 800px) {
  h2, .h2 {
    font-size: 1.9em;
  }
}

@media (max-width: 640px) {
  h2, .h2 {
    font-size: 1.7em;
  }
}

@media (max-width: 480px) {
  h2, .h2 {
    font-size: 1.5em;
  }
}

@media (max-width: 360px) {
  h2, .h2 {
    font-size: 1.3em;
  }
}

h3, .h3 {
  margin: .5em 0;
  font-size: 36px;
  line-height: 1.3em;
  font-weight: 700;
  color: #273f5b;
  font-family: "Nunito", Arial, "Helvetica Neue", Helvetica, sans-serif;
  letter-spacing: 0.02em;
}

h3 a, .h3 a {
  color: inherit;
}

@media (max-width: 800px) {
  h3, .h3 {
    font-size: 1.8em;
  }
}

@media (max-width: 640px) {
  h3, .h3 {
    font-size: 1.6em;
  }
}

@media (max-width: 480px) {
  h3, .h3 {
    font-size: 1.4em;
  }
}

@media (max-width: 360px) {
  h3, .h3 {
    font-size: 1.2em;
  }
}

h4, .h4 {
  margin: .5em 0;
  font-size: 32px;
  line-height: 1.3em;
  font-weight: 700;
  color: #273f5b;
  font-family: "Nunito", Arial, "Helvetica Neue", Helvetica, sans-serif;
  letter-spacing: 0.02em;
}

h4 a, .h4 a {
  color: inherit;
}

@media (max-width: 800px) {
  h4, .h4 {
    font-size: 1.7em;
  }
}

@media (max-width: 640px) {
  h4, .h4 {
    font-size: 1.5em;
  }
}

@media (max-width: 480px) {
  h4, .h4 {
    font-size: 1.3em;
  }
}

@media (max-width: 360px) {
  h4, .h4 {
    font-size: 1.1em;
  }
}

h5, .h5 {
  margin: .5em 0;
  font-size: 24px;
  line-height: 1.3em;
  font-weight: 700;
  color: #273f5b;
  font-family: "Nunito", Arial, "Helvetica Neue", Helvetica, sans-serif;
  letter-spacing: 0.02em;
}

h5 a, .h5 a {
  color: inherit;
}

@media (max-width: 800px) {
  h5, .h5 {
    font-size: 1.6em;
  }
}

@media (max-width: 640px) {
  h5, .h5 {
    font-size: 1.4em;
  }
}

@media (max-width: 480px) {
  h5, .h5 {
    font-size: 1.2em;
  }
}

@media (max-width: 360px) {
  h5, .h5 {
    font-size: 1em;
  }
}

h6, .h6 {
  margin: .5em 0;
  font-size: 18px;
  line-height: 1.3em;
  font-weight: 700;
  color: #273f5b;
  font-family: "Nunito", Arial, "Helvetica Neue", Helvetica, sans-serif;
  letter-spacing: 0.02em;
}

h6 a, .h6 a {
  color: inherit;
}

@media (max-width: 800px) {
  h6, .h6 {
    font-size: 1.4em;
  }
}

@media (max-width: 640px) {
  h6, .h6 {
    font-size: 1.2em;
  }
}

@media (max-width: 480px) {
  h6, .h6 {
    font-size: 1em;
  }
}

@media (max-width: 360px) {
  h6, .h6 {
    font-size: .9em;
  }
}

/*------------- #Styles for First-Letter --------------*/

.first-letter--dark-round span:first-of-type {
  display: block;
  position: relative;
  width: 70px;
  height: 70px;
  background-color: #2f2c2c;
  border-radius: 50%;
  float: left;
  margin-right: 20px;
  line-height: 70px;
  font-size: 30px;
  color: #fff;
  text-align: center;
}

.first-letter--squared span:first-of-type {
  display: block;
  position: relative;
  width: 70px;
  height: 70px;
  border-radius: 5px;
  float: left;
  margin-right: 20px;
  line-height: 70px;
  font-size: 30px;
  color: #fff;
  text-align: center;
  background-color: #72a0b8;
}

.first-letter--dark span:first-of-type {
  margin-right: 20px;
  font-size: 48px;
  line-height: 48px;
  color: #273f5b;
  float: left;
}

.first-letter--primary span:first-of-type {
  color: #72a0b8;
  margin-right: 20px;
  font-size: 48px;
  line-height: 48px;
  float: left;
}

/*------------- #Styles for Text Selection --------------*/

/*Selection dark*/

.selection--dark::-moz-selection {
  background: #273f5b;
  color: #4b5d73;
}

.selection--dark::selection {
  background: #273f5b;
  color: #4b5d73;
}

/*Selection primary*/

.selection--primary::-moz-selection {
  color: #fff;
}

.selection--primary::selection {
  color: #fff;
}

/*Selection gray*/

.selection--gray::-moz-selection {
  background: #e1e1e1;
  color: #273f5b;
}

.selection--gray::selection {
  background: #e1e1e1;
  color: #273f5b;
}

dl {
  margin-bottom: 24px;
}

dl dt {
  margin-bottom: 5px;
  color: #777;
  font-weight: bold;
}

dl dd {
  margin-bottom: 5px;
  margin-left: 20px;
}

abbr {
  border-bottom: 1px dotted;
  cursor: help;
  border-color: #4b5d73;
}

/*------------- #VARIABLES --------------*/

@media (max-width: 799px) {
  body.weather-bar-grid .col-sm-1, body.weather-bar-grid .col-sm-2, body.weather-bar-grid .col-sm-3, body.weather-bar-grid .col-sm-4, body.weather-bar-grid .col-sm-5, body.weather-bar-grid .col-sm-6, body.weather-bar-grid .col-sm-7, body.weather-bar-grid .col-sm-8, body.weather-bar-grid .col-sm-9, body.weather-bar-grid .col-sm-10, body.weather-bar-grid .col-sm-11, body.weather-bar-grid .col-sm-12 {
    float: left;
  }
  body.weather-bar-grid .col-sm-12 {
    width: 100%;
  }
  body.weather-bar-grid .col-sm-11 {
    width: 91.66666667%;
  }
  body.weather-bar-grid .col-sm-10 {
    width: 83.33333333%;
  }
  body.weather-bar-grid .col-sm-9 {
    width: 75%;
  }
  body.weather-bar-grid .col-sm-8 {
    width: 66.66666667%;
  }
  body.weather-bar-grid .col-sm-7 {
    width: 58.33333333%;
  }
  body.weather-bar-grid .col-sm-6 {
    width: 50%;
  }
  body.weather-bar-grid .col-sm-5 {
    width: 41.66666667%;
  }
  body.weather-bar-grid .col-sm-4 {
    width: 33.33333333%;
  }
  body.weather-bar-grid .col-sm-3 {
    width: 25%;
  }
  body.weather-bar-grid .col-sm-2 {
    width: 16.66666667%;
  }
  body.weather-bar-grid .col-sm-1 {
    width: 8.33333333%;
  }
  body.weather-bar-grid .col-sm-pull-12 {
    right: 100%;
  }
  body.weather-bar-grid .col-sm-pull-11 {
    right: 91.66666667%;
  }
  body.weather-bar-grid .col-sm-pull-10 {
    right: 83.33333333%;
  }
  body.weather-bar-grid .col-sm-pull-9 {
    right: 75%;
  }
  body.weather-bar-grid .col-sm-pull-8 {
    right: 66.66666667%;
  }
  body.weather-bar-grid .col-sm-pull-7 {
    right: 58.33333333%;
  }
  body.weather-bar-grid .col-sm-pull-6 {
    right: 50%;
  }
  body.weather-bar-grid .col-sm-pull-5 {
    right: 41.66666667%;
  }
  body.weather-bar-grid .col-sm-pull-4 {
    right: 33.33333333%;
  }
  body.weather-bar-grid .col-sm-pull-3 {
    right: 25%;
  }
  body.weather-bar-grid .col-sm-pull-2 {
    right: 16.66666667%;
  }
  body.weather-bar-grid .col-sm-pull-1 {
    right: 8.33333333%;
  }
  body.weather-bar-grid .col-sm-pull-0 {
    right: auto;
  }
  body.weather-bar-grid .col-sm-push-12 {
    left: 100%;
  }
  body.weather-bar-grid .col-sm-push-11 {
    left: 91.66666667%;
  }
  body.weather-bar-grid .col-sm-push-10 {
    left: 83.33333333%;
  }
  body.weather-bar-grid .col-sm-push-9 {
    left: 75%;
  }
  body.weather-bar-grid .col-sm-push-8 {
    left: 66.66666667%;
  }
  body.weather-bar-grid .col-sm-push-7 {
    left: 58.33333333%;
  }
  body.weather-bar-grid .col-sm-push-6 {
    left: 50%;
  }
  body.weather-bar-grid .col-sm-push-5 {
    left: 41.66666667%;
  }
  body.weather-bar-grid .col-sm-push-4 {
    left: 33.33333333%;
  }
  body.weather-bar-grid .col-sm-push-3 {
    left: 25%;
  }
  body.weather-bar-grid .col-sm-push-2 {
    left: 16.66666667%;
  }
  body.weather-bar-grid .col-sm-push-1 {
    left: 8.33333333%;
  }
  body.weather-bar-grid .col-sm-push-0 {
    left: auto;
  }
  body.weather-bar-grid .col-sm-offset-12 {
    margin-left: 100%;
  }
  body.weather-bar-grid .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  body.weather-bar-grid .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  body.weather-bar-grid .col-sm-offset-9 {
    margin-left: 75%;
  }
  body.weather-bar-grid .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  body.weather-bar-grid .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  body.weather-bar-grid .col-sm-offset-6 {
    margin-left: 50%;
  }
  body.weather-bar-grid .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  body.weather-bar-grid .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  body.weather-bar-grid .col-sm-offset-3 {
    margin-left: 25%;
  }
  body.weather-bar-grid .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  body.weather-bar-grid .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  body.weather-bar-grid .col-sm-offset-0 {
    margin-left: 0;
  }
}

@media (max-width: 570px) {
  body.weather-bar-grid .col-xs-1, body.weather-bar-grid .col-xs-2, body.weather-bar-grid .col-xs-3, body.weather-bar-grid .col-xs-4, body.weather-bar-grid .col-xs-5, body.weather-bar-grid .col-xs-6, body.weather-bar-grid .col-xs-7, body.weather-bar-grid .col-xs-8, body.weather-bar-grid .col-xs-9, body.weather-bar-grid .col-xs-10, body.weather-bar-grid .col-xs-11, body.weather-bar-grid .col-xs-12 {
    float: left;
  }
  body.weather-bar-grid .col-xs-12 {
    width: 100%;
  }
  body.weather-bar-grid .col-xs-11 {
    width: 91.66666667%;
  }
  body.weather-bar-grid .col-xs-10 {
    width: 83.33333333%;
  }
  body.weather-bar-grid .col-xs-9 {
    width: 75%;
  }
  body.weather-bar-grid .col-xs-8 {
    width: 66.66666667%;
  }
  body.weather-bar-grid .col-xs-7 {
    width: 58.33333333%;
  }
  body.weather-bar-grid .col-xs-6 {
    width: 50%;
  }
  body.weather-bar-grid .col-xs-5 {
    width: 41.66666667%;
  }
  body.weather-bar-grid .col-xs-4 {
    width: 33.33333333%;
  }
  body.weather-bar-grid .col-xs-3 {
    width: 25%;
  }
  body.weather-bar-grid .col-xs-2 {
    width: 16.66666667%;
  }
  body.weather-bar-grid .col-xs-1 {
    width: 8.33333333%;
  }
  body.weather-bar-grid .col-xs-pull-12 {
    right: 100%;
  }
  body.weather-bar-grid .col-xs-pull-11 {
    right: 91.66666667%;
  }
  body.weather-bar-grid .col-xs-pull-10 {
    right: 83.33333333%;
  }
  body.weather-bar-grid .col-xs-pull-9 {
    right: 75%;
  }
  body.weather-bar-grid .col-xs-pull-8 {
    right: 66.66666667%;
  }
  body.weather-bar-grid .col-xs-pull-7 {
    right: 58.33333333%;
  }
  body.weather-bar-grid .col-xs-pull-6 {
    right: 50%;
  }
  body.weather-bar-grid .col-xs-pull-5 {
    right: 41.66666667%;
  }
  body.weather-bar-grid .col-xs-pull-4 {
    right: 33.33333333%;
  }
  body.weather-bar-grid .col-xs-pull-3 {
    right: 25%;
  }
  body.weather-bar-grid .col-xs-pull-2 {
    right: 16.66666667%;
  }
  body.weather-bar-grid .col-xs-pull-1 {
    right: 8.33333333%;
  }
  body.weather-bar-grid .col-xs-pull-0 {
    right: auto;
  }
  body.weather-bar-grid .col-xs-push-12 {
    left: 100%;
  }
  body.weather-bar-grid .col-xs-push-11 {
    left: 91.66666667%;
  }
  body.weather-bar-grid .col-xs-push-10 {
    left: 83.33333333%;
  }
  body.weather-bar-grid .col-xs-push-9 {
    left: 75%;
  }
  body.weather-bar-grid .col-xs-push-8 {
    left: 66.66666667%;
  }
  body.weather-bar-grid .col-xs-push-7 {
    left: 58.33333333%;
  }
  body.weather-bar-grid .col-xs-push-6 {
    left: 50%;
  }
  body.weather-bar-grid .col-xs-push-5 {
    left: 41.66666667%;
  }
  body.weather-bar-grid .col-xs-push-4 {
    left: 33.33333333%;
  }
  body.weather-bar-grid .col-xs-push-3 {
    left: 25%;
  }
  body.weather-bar-grid .col-xs-push-2 {
    left: 16.66666667%;
  }
  body.weather-bar-grid .col-xs-push-1 {
    left: 8.33333333%;
  }
  body.weather-bar-grid .col-xs-push-0 {
    left: auto;
  }
  body.weather-bar-grid .col-xs-offset-12 {
    margin-left: 100%;
  }
  body.weather-bar-grid .col-xs-offset-11 {
    margin-left: 91.66666667%;
  }
  body.weather-bar-grid .col-xs-offset-10 {
    margin-left: 83.33333333%;
  }
  body.weather-bar-grid .col-xs-offset-9 {
    margin-left: 75%;
  }
  body.weather-bar-grid .col-xs-offset-8 {
    margin-left: 66.66666667%;
  }
  body.weather-bar-grid .col-xs-offset-7 {
    margin-left: 58.33333333%;
  }
  body.weather-bar-grid .col-xs-offset-6 {
    margin-left: 50%;
  }
  body.weather-bar-grid .col-xs-offset-5 {
    margin-left: 41.66666667%;
  }
  body.weather-bar-grid .col-xs-offset-4 {
    margin-left: 33.33333333%;
  }
  body.weather-bar-grid .col-xs-offset-3 {
    margin-left: 25%;
  }
  body.weather-bar-grid .col-xs-offset-2 {
    margin-left: 16.66666667%;
  }
  body.weather-bar-grid .col-xs-offset-1 {
    margin-left: 8.33333333%;
  }
  body.weather-bar-grid .col-xs-offset-0 {
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  body.weather-bar-grid .kc_column_inner+.kc_column_inner {
    margin-top: 40px;
  }
}

@media (max-width: 768px) {
  body.weather-bar-grid .kc_column+.kc_column {
    margin-top: 30px;
  }
}

body.weather-bar-grid .kc_col-of-5 {
  width: 20%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 20px;
  padding-left: 20px;
}

@media (max-width: 800px) {
  body.weather-bar-grid .kc_col-of-5 {
    width: 50%;
  }
}

@media (max-width: 570px) {
  body.weather-bar-grid .kc_col-of-5 {
    width: 100%;
  }
}

@media (max-width: 800px) {
  body.weather-bar-grid *>.kc_col-of-5:last-child {
    width: 100%;
  }
}

@media (max-width: 799px) {
  body.weather-bar-grid .col-3-responsive-wrapper .kc_column.col-md-4.col-sm-12 {
    width: 33.3333%;
  }
}

@media (max-width: 600px) {
  body.weather-bar-grid .col-3-responsive-wrapper .kc_column.col-md-4.col-sm-12 {
    width: 100%;
  }
}

@media (max-width: 768px) {
  body.weather-bar-grid .col-3-responsive-wrapper .kc_column+.kc_column {
    margin-top: 0;
  }
}

@media (max-width: 600px) {
  body.weather-bar-grid .col-3-responsive-wrapper .kc_column+.kc_column {
    margin-top: 30px;
  }
}

.clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after {
  display: table;
  content: " ";
  width: 100%;
}

.container {
  padding-right: 40px;
  padding-left: 40px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 710px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .row {
    margin-right: -10px;
    margin-left: -10px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 965px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    width: 1240px;
  }
}

.container-fluid {
  padding-right: 40px;
  padding-left: 40px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  margin-right: -20px;
  margin-left: -20px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 20px;
  padding-left: 20px;
}

@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0;
  }
}

@media (min-width: 800px) and (max-width: 1199px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0;
  }
}

.kc-elm.small-section {
  max-width: 750px;
  margin: 0 auto;
  float: none;
}

.kc-elm.small-section-f-left {
  max-width: 750px;
  float: left;
}

.kc-elm.medium-section {
  max-width: 900px;
  margin: 0 auto;
  float: none;
}

.kc-container {
  position: relative;
  z-index: 1;
}

.kc_row:not(.kc_row_inner) {
  padding: 120px 0;
}

@media (max-width: 800px) {
  .kc_row:not(.kc_row_inner) {
    padding: 60px 0;
  }
}

@media (max-width: 360px) {
  .kc_row:not(.kc_row_inner) {
    padding: 30px 0;
  }
}

.kc_row_inner+.kc_row_inner {
  margin-top: 40px;
}

@media (max-width: 640px) {
  .kc_row_inner+.kc_row_inner {
    margin-top: 0;
  }
}

.kc-col-inner-container>.kc-elm {
  margin-bottom: 30px;
}

.kc-col-inner-container>.kc-elm:last-child {
  margin-bottom: 0;
}

.kc-col-inner-container>.kc-elm p:last-child {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .kc-col-inner-container>.kc-elm.product-description-solution {
    margin-top: 0;
    margin-bottom: 60px;
  }
}

.kc-col-container>.kc-elm+.kc-elm {
  margin-top: 30px;
}

.kc-col-container>.kc-elm {
  margin-bottom: 0;
}

@media (max-width: 799px) {
  body.kc-css-system .kc_column.col-sm-6 {
    width: 50%;
  }
}

@media (max-width: 570px) {
  body.kc-css-system .kc_column.col-xs-12 {
    width: 100%;
  }
}

@media (max-width: 570px) {
  .col-xs-12+.col-xs-12 {
    margin-top: 20px;
  }
}

/*------------- #HELPERS --------------*/

.align-center, .aligncenter {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.visual-hidden, .hide {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.half-width {
  width: 50%;
  float: left;
}

.ovh {
  overflow: hidden;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}

.f-none {
  float: none;
}

.shadow-image {
  box-shadow: 24px 50px 60px rgba(0, 0, 0, 0.3);
}

.table {
  display: table;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
  float: none;
}

@media (max-width: 640px) {
  .table-cell {
    display: block;
    float: left;
  }
}

.text-t-none {
  text-transform: none;
}

@media (max-width: 480px) {
  .centered-on-mobile {
    text-align: center;
  }
}

.overlay--light {
  background: rgba(0, 0, 0, 0.2);
}

.no-padding {
  padding: 0 !important;
}

@media (max-width: 640px) {
  .no-padding {
    padding: 0 15px !important;
  }
}

.no-margin {
  margin: 0;
}

.item-fully-transparent {
  opacity: 0;
}

.full-block {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.display-flex {
  display: flex;
  align-items: center;
}

.display-flex.content-center {
  justify-content: center;
}

.inline-block, .kc-elm.inline-block {
  display: inline-block;
  width: auto;
  float: none;
}

.inline-items>* {
  display: inline-block;
  vertical-align: middle;
}

.inline-items>.inline-items+.inline-items {
  margin-left: 70px;
}

.block-rounded-shadow {
  border-radius: 10px;
  padding: 60px;
  box-shadow: 10px 0 50px 0 rgba(18, 25, 33, 0.1);
}

.overlay-standard, .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(18, 25, 33, 0.4);
  transition: all 0.4s ease;
}

.full-bloc-link {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.medium-padding80 {
  padding: 80px 0;
}

@media (max-width: 800px) {
  .medium-padding80 {
    padding: 35px 0;
  }
}

.medium-padding100 {
  padding: 100px 0;
}

@media (max-width: 800px) {
  .medium-padding100 {
    padding: 35px 0;
  }
}

.medium-padding120 {
  padding: 120px 0;
}

@media (max-width: 800px) {
  .medium-padding120 {
    padding: 35px 0;
  }
}

.medium-padding180 {
  padding: 180px 0;
}

@media (max-width: 800px) {
  .medium-padding180 {
    padding: 90px 0;
  }
}

.medium-padding270 {
  padding: 270px 0;
}

@media (max-width: 800px) {
  .medium-padding270 {
    padding: 100px 0;
  }
}

.pb100 {
  padding-bottom: 100px;
}

@media (max-width: 800px) {
  .pb100 {
    padding-bottom: 35px;
  }
}

.pt80 {
  padding-top: 80px;
}

@media (max-width: 800px) {
  .pt80 {
    padding-top: 35px;
  }
}

.pt180 {
  padding-top: 180px;
}

.pt100 {
  padding-top: 100px;
}

@media (max-width: 800px) {
  .pt100 {
    padding-top: 35px;
  }
}

.pt400 {
  padding-top: 400px;
}

@media (max-width: 1024px) {
  .pt400 {
    padding-top: 200px;
  }
}

@media (max-width: 768px) {
  .pt400 {
    padding-top: 100px;
  }
}

.pb360 {
  padding-bottom: 360px;
}

.pb120 {
  padding-bottom: 120px;
}

@media (max-width: 800px) {
  .pb120 {
    padding-bottom: 35px;
  }
}

.pt120 {
  padding-top: 120px;
}

@media (max-width: 800px) {
  .pt120 {
    padding-top: 35px;
  }
}

.pb80 {
  padding-bottom: 80px;
}

@media (max-width: 800px) {
  .pb80 {
    padding-bottom: 35px;
  }
}

.pb30 {
  padding-bottom: 30px;
}

.mt60 {
  margin-top: 60px;
}

@media (max-width: 800px) {
  .mt60 {
    margin-top: 35px;
  }
}

.mb30 {
  margin-bottom: 30px;
}

.mb60 {
  margin-bottom: 60px;
}

@media (max-width: 800px) {
  .mb60 {
    margin-bottom: 35px;
  }
}

.padding-left60-desktop {
  padding-left: 60px;
}

@media (max-width: 980px) {
  .padding-left60-desktop {
    padding-left: 0;
  }
}

.color-icon {
  color: #6987ab;
}

.font-color-custom * {
  color: inherit;
}

.bg-secondary-color {
  background-color: #273f5b;
}

.bg-primary-color {
  background-color: #72a0b8;
}

.c-yellow-light {
  color: #ffff00;
}

.weight-bold {
  font-weight: 700;
}

.weight-normal {
  font-weight: 400;
}

.half-height-bg {
  position: absolute;
  height: 50%;
  left: 0;
  right: 0;
  top: 0;
}

.d-flex--content-inline {
  float: none;
  display: flex;
  align-items: center;
}

.d-flex--content-inline .btn {
  margin-left: auto;
}

.negative-margin-top80 {
  margin-top: -80px;
}

.negative-margin-bottom80 {
  margin-bottom: -80px;
}

.box-shadow--black {
  box-shadow: 30px 0 100px rgba(0, 0, 0, 0.2);
}

.pos-relative {
  position: relative;
}

.fill-white {
  fill: #fff;
}

.display-block {
  display: block;
}

/*------------- #Styles for preloader --------------*/

#hellopreloader {
  display: block;
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-width: 100%;
  background: #72a0b8 url(../svg/preload.svg) center center no-repeat;
  background-size: 41px;
  opacity: 1;
}

/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */

/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */

html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */

article, aside, details, figcaption, figure, footer, main, menu, nav, section, summary {
  /* 1 */
  display: block;
}

/**
 * Add the correct display in IE 9-.
 */

audio, canvas, progress, video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */

template, [hidden] {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */

a:active, a:hover {
  outline-width: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  text-decoration: none;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b, strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b, strong {
  font-weight: bolder;
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */

mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code, kbd, pre, samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct margin in IE 8.
 */

figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/* Forms
   ========================================================================== */

/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

button, input, select, textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  outline: none;
}

/**
 * Restore the font weight unset by the previous rule.
 */

optgroup {
  font-weight: bold;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button, input {
  /* 1 */
  overflow: visible;
  border: none;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button, select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button, html [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"], [type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */

[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}



.bg-product-blue {
  background-color: #007bef;
}

.bg-product-blue:before {
  box-shadow: 10px 0 25px rgba(0, 131, 255, 0.6);
}

.bg-product-brown {
  background-color: #5a3f5b;
}

.bg-product-brown:before {
  box-shadow: 10px 0 25px rgba(90, 63, 91, 0.6);
}

.bg-product-green {
  background-color: #3fbc85;
}

.bg-product-green:before {
  box-shadow: 10px 0 25px rgba(63, 188, 133, 0.6);
}

.bg-product-violet {
  background-color: #af23e0;
}

.bg-product-violet:before {
  box-shadow: 10px 0 25px rgba(187, 38, 240, 0.6);
}

.bg-product-red {
  background-color: #d80873;
}

.bg-product-red:before {
  box-shadow: 10px 0 25px rgba(231, 9, 123, 0.6);
}

.bg-product-grey {
  background-color: #ecf5fe;
}

.bg-product-grey:before {
  box-shadow: 10px 0 25px rgba(236, 245, 254, 0.6);
}

.bg-product-blue-dark {
  background-color: #344399;
}

.bg-product-blue-dark:before {
  box-shadow: 10px 0 25px rgba(56, 72, 163, 0.6);
}

.bg-product-marrow {
  background-color: #373b5d;
}

.bg-product-marrow:before {
  box-shadow: 10px 0 25px rgba(55, 59, 93, 0.6);
}

.primary-menu--dark .primary-menu-menu ul.sub-menu, .primary-menu--dark .primary-menu-menu ul.sub-menu li ul.sub-menu, .primary-menu--dark .primary-menu-menu>li>.megamenu {
  background-color: #121921;
}

.primary-menu--dark .primary-menu-menu ul.sub-menu li:before, .primary-menu--dark .primary-menu-menu>li.menu-item-has-mega-menu .megamenu ul>li:before {
  background-color: #212c38;
}

.primary-menu--dark .primary-menu-menu ul.sub-menu li:hover:before, .primary-menu--dark .primary-menu-menu>li.menu-item-has-mega-menu .megamenu ul>li:hover:before {
  background-color: #72a0b8;
}

.primary-menu--dark .product-item:hover {
  background-color: #0f141a;
}

.primary-menu--dark .primary-menu-menu>li>.megamenu .megamenu-item-info .megamenu-item-info-title, .primary-menu--dark .primary-menu-menu>li>.sub-menu .megamenu-item-info .megamenu-item-info-title {
  color: #fff;
}

.primary-menu--dark .primary-menu-menu>li.menu-item-has-mega-menu .megamenu ul>li a, .primary-menu--dark .primary-menu-menu ul.sub-menu li a {
  color: #839dbc;
}

.primary-menu--dark .primary-menu-menu>li.menu-item-has-mega-menu .megamenu ul>li a:hover, .primary-menu--dark .primary-menu-menu ul.sub-menu li a:hover {
  color: #72a0b8;
}

.primary-menu--dark .megamenu-item-info-text {
  color: #4b5d73;
}

.primary-menu--dark.primary-menu-responsive .primary-menu-menu {
  background-color: #121921;
}

.primary-menu--dark .product-item-content .title {
  color: #fff;
}

@media (max-width: 768px) {
  .more-arrow .btn-next {
    margin-left: 5px;
    margin-right: -5px;
  }
  .more-arrow .btn-next .icon-hover {
    opacity: 1;
  }
}

/*------------- #STUNNING-HEADER --------------*/

.weather-bar-stunning-header {
  position: relative;
  background-size: cover;
}

.stunning-header-title {
  display: inline-block;
  margin: 0;
  line-height: 1.3;
}

.category-link {
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 0;
}

.stunning-header-content {
  position: relative;
  z-index: 15;
  padding: 55px 0;
  float: left;
  width: 100%;
}

.stunning-header-content>*+* {
  margin-top: 40px;
}

.stunning-header-content>*+*:last-child:not(.breadcrumbs-wrap) {
  margin-bottom: 40px;
}

.breadcrumbs {
  padding: 0;
}

.breadcrumbs-wrap>*+.breadcrumbs {
  margin-left: 10px;
}

.breadcrumbs-item {
  display: inline-block;
  margin-bottom: 0;
}

.breadcrumbs-item a {
  margin-right: 6px;
}

.breadcrumbs-item a:hover {
  color: #72a0b8;
}

.breadcrumbs-item.active span {
  font-weight: 700;
  color: #72a0b8;
}

.breadcrumbs-item .weather-bar-icon {
  margin-right: 6px;
  fill: #d1e8f6;
  height: 6px;
  width: 6px;
}

.breadcrumbs-item:last-child .weather-bar-icon {
  display: none;
}

.breadcrumbs--rounded {
  overflow: hidden;
  padding: 10px 30px;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 0 50px 0 rgba(137, 168, 199, 0.25);
  display: inline-block;
}

.breadcrumbs--bordered {
  border: solid 2px rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  padding: 6px 30px;
}

.breadcrumbs--bordered .breadcrumbs-item a {
  color: #72a0b8;
}

.breadcrumbs--bordered .breadcrumbs-item.active span {
  color: #fff;
}

.breadcrumbs--semitransparent .breadcrumbs-item a, .breadcrumbs--semitransparent .weather-bar-icon {
  font-size: 14px;
  opacity: .7;
  color: #fff;
  width: 14px;
  height: 14px;
}

.breadcrumbs--semitransparent .breadcrumbs-item a:hover {
  opacity: 1;
}

.breadcrumbs--semitransparent .breadcrumbs-item.active span {
  color: #fff;
}

.breadcrumbs-wrap {
  z-index: 19;
}

.breadcrumbs-wrap.with-border {
  padding: 10px 0;
  border-bottom: 1px solid #dbe3ec;
  margin-bottom: 60px;
}

.breadcrumbs-wrap+.weather-bar-heading {
  margin-top: 20px;
}

.stunning-header--breadcrumbs-bottom-left .breadcrumbs-wrap {
  position: absolute;
  left: 0;
  bottom: -25px;
}

.stunning-header--breadcrumbs-bottom-center .breadcrumbs-wrap {
  margin-bottom: 60px;
  margin-top: auto;
}

.weather-bar-stunning-header--small .stunning-header-content {
  padding: 30px 0;
}

.stunning-header--breadcrumbs-top .stunning-header-content {
  padding: 0;
}

.stunning-header--breadcrumbs-top .breadcrumbs-item a {
  font-size: 14px;
}

.stunning-header--content-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stunning-header--content-left-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.stunning-header--content-left-bottom .stunning-header-content {
  padding-bottom: 80px;
  max-width: 700px;
}

.stunning-header--content-padding100 .stunning-header-content {
  padding: 100px 0;
}

.stunning-header--min560 {
  min-height: 560px;
}

.stunning-header--min620 {
  min-height: 620px;
}

.stunning-header--min640 {
  min-height: 640px;
}

.icon-text-item .text {
  font-weight: 700;
}

.icon-text-item .weather-bar-icon {
  margin-right: 20px;
  font-size: 26px;
  height: 26px;
  width: 26px;
}

/*------------- #Any colors background --------------*/

.stunning-bg-clouds {
  background-image: url("../img/stunning-bg.jpg");
}

.stunning-bg-1 {
  background-image: url("../img/stunning-bg1.jpg");
}

.stunning-bg-2 {
  background-image: url("../img/stunning-bg2.jpg");
}

.stunning-bg-3 {
  background-image: url("../img/stunning-bg3.jpg");
}

.stunning-bg-4 {
  background-image: url("../img/stunning-bg4.jpg");
}

.stunning-bg-5 {
  background-image: url("../img/stunning-bg5.jpg");
}

.overlay--dark {
  background-color: rgba(18, 25, 33, 0.8);
}

.overlay--yellow {
  background-color: rgba(248, 145, 1, 0.5);
}

.overlay--red {
  background-color: rgba(255, 49, 51, 0.5);
}

.overlay--blue {
  background-color: rgba(0, 130, 215, 0.5);
}

.overlay--blue-dark {
  background-color: rgba(0, 131, 255, 0.8);
}

.overlay--green {
  background-color: rgba(1, 162, 160, 0.5);
}

.custom-color *:not(.btn):not(.breadcrumbs-item):not(.category-link):not(.breadcrumbs-custom) {
  color: inherit !important;
  fill: inherit !important;
}

.author-avatar {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  overflow: hidden;
  margin-right: 15px;
}

.author-prof {
  font-weight: 700;
}

.author-name {
  margin: 0;
  line-height: 1;
}

.author-info {
  text-align: left;
}

/*================= Responsive Mode ============*/

@media (max-width: 1024px) {
  .stunning-header-content .inline-items>.inline-items+.inline-items {
    margin-left: 20px;
  }
  .stunning-header--content-inline .stunning-header-title {
    width: 50%;
  }
}

@media (max-width: 800px) {
  .stunning-header-content .inline-items .btn.f-right {
    float: none;
    margin-left: 0;
  }
  .stunning-header--content-inline .stunning-header-title {
    width: auto;
  }
  .stunning-header-content .inline-items>.inline-items {
    display: block;
    margin-bottom: 20px;
  }
  .stunning-header-content .inline-items>.inline-items+.inline-items {
    margin-left: 0;
  }
  .stunning-header-content {
    padding: 30px 0;
  }
  .stunning-header-title {
    display: block;
  }
  .stunning-header--breadcrumbs-bottom-left .breadcrumbs-wrap {
    position: relative;
    left: auto;
    bottom: auto;
    transform: none;
  }
  .breadcrumbs-wrap, .author-block, .icon-text-item {
    position: relative;
  }
  .breadcrumbs-wrap.inline-items>*, .author-block.inline-items>*, .icon-text-item.inline-items>* {
    display: inline-block;
  }
  .breadcrumbs-wrap.inline-items>*+*, .author-block.inline-items>*+*, .icon-text-item.inline-items>*+* {
    margin-top: auto;
  }
  .inline-items>* {
    display: block;
  }
  .inline-items>*+* {
    margin-top: 20px;
  }
  .stunning-header--content-padding100 .stunning-header-content {
    padding: 50px 0;
  }
}

@media (max-width: 640px) {
  .stunning-header--breadcrumbs-bottom-left .breadcrumbs-wrap {
    position: relative;
    left: auto;
    bottom: auto;
    margin-top: 20px;
    transform: none;
  }
  .stunning-header--breadcrumbs-bottom-left .breadcrumbs-wrap>* {
    display: block;
    margin: 0 auto;
  }
  .stunning-header--breadcrumbs-bottom-left .breadcrumbs-wrap>*+* {
    margin-top: 20px;
  }
  .stunning-header--content-center .stunning-header-content {
    padding-bottom: 80px;
  }
  .stunning-header--content-center .breadcrumbs-wrap {
    margin-top: 20px;
  }
  .stunning-header--content-center .breadcrumbs-wrap>* {
    display: block;
    margin: 0 auto;
  }
  .stunning-header--content-center .breadcrumbs-wrap>*+* {
    margin-top: 20px;
  }
}

/*------------- #FOOTER --------------*/

.footer {
  background-image: url("../img/clouds.png");
  background-color: #121921;
  padding: 120px 0 0;
  position: relative;
  box-shadow: 10px 0 30px 0 rgba(18, 25, 33, 0.4);
}

.footer .widget-title {
  color: #fff;
  margin-bottom: 30px;
}

.footer .w-contacts .btn {
  margin: 30px 0;
}

.footer.js-fixed-footer {
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 1;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0, 0, 1);
  transition-timing-function: cubic-bezier(0, 0, 0, 1);
}

@media (max-width: 768px) {
  .footer.js-fixed-footer {
    position: relative;
  }
}

.sub-footer {
  background-color: #fff;
  padding: 35px 0;
  text-align: center;
  position: relative;
  margin-top: 120px;
}

.sub-footer span {
  font-size: 14px;
  margin-bottom: 1px;
  color: #6987ab;
  display: block;
}

.sub-footer a {
  color: #4b5d73;
}

.sub-footer a:hover {
  color: #72a0b8;
}

.sub-footer .sub-footer__link {
  color: #72a0b8;
  font-weight: 700;
}

.content-wrapper {
  position: relative;
  z-index: 2;
  background-color: #fff;
  -webkit-margin-bottom-collapse: separate;
}

.block-footer-height {
  position: relative;
  dth: 100%;
}

@media (max-width: 768px) {
  .block-footer-height {
    display: none;
  }
}

.btn.hidden {
  display: none;
}

.flying-bird {
  width: 100px;
  height: 100px;
  background: url(../img/bird.gif) center center no-repeat;
  background-size: cover;
  position: absolute;
  transform: scale(1);
  bottom: 20%;
  left: -100px;
  animation: fly 8s linear;
  animation-delay: 4s;
}

@media (max-width: 768px) {
  .flying-bird {
    animation: fly 4s linear;
    animation-delay: 2s;
  }
}


@keyframes fly {
  from {
    bottom: 25%;
    left: -100px;
    transform: scale(1);
  }
  to {
    bottom: 60%;
    left: 120%;
    transform: scale(0.6);
  }
}
